*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  /* variables */
  --top-bg-color: #1F2937;
  --top-logo-size: 24px;
  --top-main-text-color: #F9FAF8;
  --top-main-text-size: 48px;
  --top-main-text-weight: 900;
  --top-secondary-text-color: #E5E7EB;
  --top-secondary-text-size: 18px;
  --btn-color: #3882F6;
  --btn-border-color: #F9FAF8;
  --info-text-color: #1F2937;
  --info-header-text-size: 36px;
  --info-header-text-weight: 900;
  --info-img-text-size: 18px;
  --quote-bg-color: #E5E7EB;
  --quote-text-color: #1F2937;
  --quote-text-size: 36px;
  --quote-text-style: italic;
  --quote-text-weight: lighter;
  --signature-text-size: 18px;
  --signature-text-weight: 900;
  --signature-text-color: #1F2937;
  --signature-text-style: normal;
  --bottom-text-color: var(--top-main-text-color);
  --bottom-text-main-size: 18px;
  --bottom-text-secondary-size: 12px;
  --bottom-text-main-weight: bold;
  --bottom-text-secondary-weight: normal;
  --footer-bg-color: var(--top-bg-color);
  --footer-text-color: var(--top-secondary-text-color);
  --footer-text-size: 12px;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--top-bg-color);
  color: var(--top-main-text-color);
  font-size: var(--top-logo-size);
  padding: 24px 200px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.header a {
  font-size: var(--top-secondary-text-size);
  color: var(--top-secondary-text-color);
  text-decoration: none;
}

.top-content {
  background-color: var(--top-bg-color);
  display: flex;
  padding: 24px 200px 64px 200px;
  gap: 56px;
  justify-content: space-between;
  align-items: center;
}

.top-text h1 {
  color: var(--top-main-text-color);
  font-size: var(--top-main-text-size);
  font-weight: var(--top-main-text-weight);
}

.top-text p {
  color: var(--top-secondary-text-color);
  font-size: var(--top-secondary-text-size);
  margin: 16px 0;
}

.top-img img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 800px;
}

button {
  padding: 8px 36px;
  background-color: var(--btn-color);
  color:  var(--top-main-text-color);
  font-size: var(--top-secondary-text-size);
  border: none;
  border-radius: 10px;
}

.mid-info h2 {
  text-align: center;
  color: var(--info-header-text-size);
  font-size: var(--info-header-text-size);
  font-weight: var(--info-header-text-weight);
  padding: 24px 0;
}

.mid-info-cards {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  padding-bottom: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img{
  display: block;
  width: 160px;
  height: 160px;
  border: 4px solid var(--btn-color);
  border-radius: 10px;
  object-fit: cover;
}

.card p {
  text-align: center;
  color: var(--info-text-color);
  font-size: var(--info-img-text-size);
  max-width: 160px;
}

.mid-quote {
  background-color: var(--quote-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 800px;
  font-size: var(--quote-text-size);
  font-weight: var(--quote-text-weight);
  font-style: var(--quote-text-style);
  color: var(--quote-text-color);
  padding-top: 24px; 
  padding-bottom: 24px;
}

.signature {
  text-align: right;
  font-size: var(--signature-text-size);
  font-weight: var(--signature-text-weight);
  color: var(--signature-text-color);
  font-style: var(--signature-text-style);
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  max-width: 1024px;
  background-color: var(--btn-color);
  color: var(--bottom-text-color);
  border-radius: 10px;
  padding: 56px 120px;
}

.bottom-container button {
  border: 2px solid var(--btn-border-color);
}

.bottom-text-title {
  font-size: var(--bottom-text-main-size);
  font-weight: var(--bottom-text-secondary-weight);
}

.bottom-text-content {
  font-size: var(--bottom-text-secondary-size);
  font-weight: var(--bottom-text-secondary-weight);
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  font-size: var(--footer-text-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}